node_modules
dist
.git
.gitignore
.env
.env.*
*.log
npm-debug.log*
.vscode
docs
src/front/tests
src/back/tests
.vitest
coverage
*.md
!README.md
Dockerfile
docker-compose.yml
.vitest.config.ts
vitest.config.ts
vitest.frontend.config.ts